* {
    box-sizing: border-box;
}

#rugimg {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 1px solid #adb5bd;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

#rugimg div {
    width: 5px;
    height: 5px;
    background-color: #FF0000;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#borderimg {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #adb5bd;
}

#rugimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

/*#brand, #model, #modification, #equipment, #rug-color, #border-color {*/
select {
    display: block;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}